recursive-include dash_animejs_component_pack *.js
recursive-include dash_animejs_component_pack *.js.map
recursive-include dash_animejs_component_pack *.json
recursive-include dash_animejs_component_pack *.css
